/* Pallet 
White - #FFFFFF
Brown(App icon color) - #834B2D
Dark red - #4B1B1E
Light Red - #7E5658
Green - #495F31
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.landingPick {
  font-size: 60px;
  cursor: pointer;
  background-color: #283044;
  color: white;
  width: 100%;
  display: block;
  height: calc(50vh - 2px);
  border-bottom: 1px solid white;
}

#bkgimg {
  background-image: url("../images/hoco.JPG");
  background-size: cover;
  background-repeat: none;
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  opacity: .25;
  top: 0;
  left: 0;
}

.landingPick p {
  text-align: center;
  line-height: 80px;
  position: absolute;
  margin-top: 220px;
  padding: 0 100px;
}

body {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}

#registerPick {
  border-bottom: 1px solid white;
}

#landhead {
  background-color: #283044;
  width: 100%;
  font-size: 60px;
  text-align: center;
  padding: 40px 0;
  color: white;
  text-transform: uppercase;
}

#landhead2 {
  background-color: #283044;
  width: 100%;
  font-size: 60px;
  text-align: center;
  padding: 40px 0;
  color: white;
  text-transform: uppercase;
  z-index: 1000;
}

h2 {
  background-color: #283044;
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
  margin-top: -30px;
  color: white;
  text-transform: uppercase;
}


main input[type="text"], main input[type="password"]{
  width: 80%;
  display: block;
  background-color: #f8f8f8;
  margin: 50px auto;
  font-size: 34px;
  -webkit-appearance: none;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  padding: 20px 40px;
}

#regMain, #logMain {
  margin-top: 80px;
}

input::placeholder {
  -webkit-appearance: none;
  color: #b6b6b6;
}

#regButton, #logButton, #songSearchButton, #mySongsBtn, #topSongsBtn, #recentSongsBtn, #logadbtn, #getUnapproved {
  background-color: #283044;
  padding: 30px 60px;
  color: white;
  text-transform: uppercase;
  font-size: 34px;
  width: 76%;
  display: table;
  margin: 80px auto;
  border-radius: 10px;
  text-align: center;
}

#songSearchButton {
  margin: 50px auto;
}

.song {
  width: 100%;
  display: block;
  color: white;
  position: relative;
}

#songsWrapper {
  height: 40vh; 
  overflow-y: scroll; /* adds scrollbar */
}

.abcover {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.graycov {
  background-color: #000000;
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  z-index: 1;
  opacity: .3;
}

.song p {
  padding:60px 80px;
  padding-right: 160px;
  z-index: 2;
  font-size: 50px;
}

.loader {
  border: 15px solid #FFFFFF;
  border-radius: 50%;
  border-top: 15px solid #283044;
  width: 100px;
  height: 100px;
  -webkit-animation: spin .75s linear infinite;
  animation: spin .75s linear infinite;
  display: inline-block;
  display: block;
  position: relative;
  margin: 30px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display:block;
  background-color: #283044;
  color: white;
}

footer img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 120px;
}

footer p {
  font-size: 30px;
  padding: 20px 40px;
  line-height: 50px;
}

.iconCnt {
  display: flex;
  position: absolute;
  right: 30px;
  height: 100%;
  top:0;
}

.iconCnt i {
  margin: auto auto;
  font-size: 70px;
  margin-right: 15px;
}

#adOverlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: block;
  z-index: 999;
}

#adOverlay input {
  width: 80%;
  display: block;
  background-color: #f8f8f8;
  margin: 0 auto;
  margin-top: 30vh;
  font-size: 34px;
  -webkit-appearance: none;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  padding: 20px 40px;
}

#hidad {
  display: none;
}

.userContainer {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  position: relative;
}

.adusername {
  font-size: 42px;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

#userSpot {
  height: 40vh;
  overflow-y: scroll;
}

.likecnt {
  display: flex;
  position: absolute;
  left: 30px;
  height: 100%;
  top:0;
}

.likecnt i, .dislikecnt i {
  font-size: 70px;
  color: #283044;
  margin: auto auto;
}

.dislikecnt {
  display: flex;
  position: absolute;
  right: 30px;
  height: 100%;
  top:0;
}

.songcirc {
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 5px solid #FFF;
  width: 100px;
  height: 100px;
  -webkit-animation: spin .75s linear infinite;
  animation: spin .75s linear infinite;
  display: inline-block;
  display: block;
  position: relative;
  margin: 30px auto;
}

.container {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
}

.chart {
  font-size: 20px;
  margin: auto auto;
}

.outer {
  fill: transparent;
  stroke: #fff;
  stroke-width: 8;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 .75s;
  animation: show100 .75s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

.incirc {
  margin: 0 !important;
  font-size: 70px;
  position: absolute;
  right: 16px;
  top: 54px;
  opacity: 0;
}