/* Pallet 
White - #FFFFFF
Brown(App icon color) - #834B2D
Dark red - #4B1B1E
Light Red - #7E5658
Green - #495F31
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background: #4286f4;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

header {
  text-align: center;
  width: 100%;
  font-size: 90px;
  margin-top: 130px;
  margin-bottom: 50px;
}

.landingPick {
  width: 60%;
  margin-left: calc(20% - 30px);
  padding: 30px;
  margin-top: 90px;
  font-size: 50px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

#loginHead {
  text-align: center;
  width: 100%;
  font-size: 90px;
  margin-top: 50px;
  margin-bottom: 50px;
}

input::placeholder {
  color: white;
}

hr {
  margin-bottom: 40px;
}

.initialInput {
  width: 60%;
  font-size: 75px;
  padding: 30px;
  margin-left: calc(20% - 30px);
  background-color: #4286f4;
  color: white;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  display: block;
  margin-bottom: 40px;
}

#logButton {
  width: 60%;
  font-size: 75px;
  padding: 30px;
  text-align: center;
  margin-left: calc(20% - 30px);
  background-color: white;
  color: #4286f4;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  display: block;
}

#regButton {
  width: 60%;
  font-size: 75px;
  padding: 30px;
  text-align: center;
  margin-left: calc(20% - 30px);
  background-color: white;
  color: #4286f4;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  display: block;
}

#songSearchButton {
  width: 60%;
  font-size: 75px;
  padding: 30px;
  text-align: center;
  margin-left: calc(20% - 30px);
  background-color: white;
  color: #4286f4;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  display: block;
}

#songWrapper {
  width: 100%;

}

.song {
  width: 100%;
  
}